@charset "UTF-8";
@font-face {
  font-family: 'Dejima';
  src: url(/common/fonts/dejima-mincho-f.ttf);
}
/* line 5, ../../_scss/index.scss */
.index-header {
  position: relative;
  width: 100%;
  background: center center;
  background-size: cover;
  z-index: 9999;
}
/* line 1, ../../_scss/_index-header-nav.scss */
.index-header .header-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 760px;
  height: 240px;
  margin: -120px -380px;
}
/* line 8, ../../_scss/_index-header-nav.scss */
.index-header .header-nav .left-nav {
  float: left;
}
/* line 11, ../../_scss/_index-header-nav.scss */
.index-header .header-nav .right-nav {
  float: right;
}
/* line 13, ../../_scss/_index-header-nav.scss */
.index-header .header-nav .right-nav .nav-item {
  float: right;
}
/* line 17, ../../_scss/_index-header-nav.scss */
.index-header .header-nav .nav-list {
  width: 260px;
}
/* line 19, ../../_scss/_index-header-nav.scss */
.index-header .header-nav .nav-list .nav-item {
  width: 240px;
  height: 70px;
  text-align: center;
  line-height: 66px;
  font-size: 20px;
  font-weight: bold;
  font-family: Dejima, "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
}
/* line 27, ../../_scss/_index-header-nav.scss */
.index-header .header-nav .nav-list .nav-item:nth-child(2) {
  margin: 15px 0;
}
/* line 30, ../../_scss/_index-header-nav.scss */
.index-header .header-nav .nav-list .nav-item .nav-anchor {
  overflow: hidden;
  position: relative;
  display: block;
  border: 2px solid  #fff;
  color: #fff;
  text-decoration: none;
  z-index: 1;
  -moz-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
/* line 40, ../../_scss/_index-header-nav.scss */
.index-header .header-nav .nav-list .nav-item .nav-anchor::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 230px;
  margin: -115px 0;
  background: #fff;
  z-index: -1;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition: margin 0.3s ease, width 0.3s ease, background 0.3s ease;
  -o-transition: margin 0.3s ease, width 0.3s ease, background 0.3s ease;
  -webkit-transition: margin 0.3s ease, width 0.3s ease, background 0.3s ease;
  transition: margin 0.3s ease, width 0.3s ease, background 0.3s ease;
}
/* line 53, ../../_scss/_index-header-nav.scss */
.index-header .header-nav .nav-list .nav-item .nav-anchor:hover {
  border-color: #000;
}
/* line 55, ../../_scss/_index-header-nav.scss */
.index-header .header-nav .nav-list .nav-item .nav-anchor:hover::after {
  width: 190px;
  margin-left: -95px;
  margin-right: -95px;
  background: #000;
}
/* line 67, ../../_scss/_index-header-nav.scss */
.index-header .header-nav .header-brand {
  overflow: hidden;
  float: left;
  width: 240px;
  height: 0;
  padding-top: 240px;
  background: url(/common/img/logo.svg) center center no-repeat #000;
  background-size: 80%;
}
/* line 13, ../../_scss/index.scss */
.index-header .scroller {
  position: absolute;
  left: -50%;
  bottom: 0;
  display: block;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  background: #000;
}

/* line 25, ../../_scss/index.scss */
.recommend {
  width: 680px;
  margin: 0 auto;
}
/* line 29, ../../_scss/index.scss */
.recommend .pic img {
  width: 680px;
}
/* line 33, ../../_scss/index.scss */
.recommend .details {
  overflow: hidden;
  margin: 20px 16px;
}
/* line 36, ../../_scss/index.scss */
.recommend .details .name {
  float: left;
  margin-bottom: 10px;
  font-size: 20px;
  color: #e67928;
  font-family: Dejima, "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
}
/* line 43, ../../_scss/index.scss */
.recommend .details .price {
  float: right;
  color: #aaa;
  font-size: 14px;
}
/* line 48, ../../_scss/index.scss */
.recommend .details .comment {
  clear: both;
  margin: 6px 20px 0;
  font-size: 14px;
  color: #ccc;
}

/* line 57, ../../_scss/index.scss */
.opening-calendar {
  position: relative;
  width: 100%;
  margin-top: 15px;
  color: #fff;
  text-align: center;
}
/* line 63, ../../_scss/index.scss */
.opening-calendar .controller {
  position: absolute;
  top: 3px;
  right: 0;
  width: 60px;
  height: 60px;
}
/* line 69, ../../_scss/index.scss */
.opening-calendar .controller .btn {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  outline: none;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
}
/* line 78, ../../_scss/index.scss */
.opening-calendar .controller .btn span {
  position: relative;
  left: 0;
  display: block;
  -moz-transition: -moz-transform 0.5s ease, left 0.2s ease;
  -o-transition: -o-transform 0.5s ease, left 0.2s ease;
  -webkit-transition: -webkit-transform 0.5s ease, left 0.2s ease;
  transition: transform 0.5s ease, left 0.2s ease;
}
/* line 86, ../../_scss/index.scss */
.opening-calendar .year {
  height: 16px;
  font-size: 13px;
  line-height: 16px;
}
/* line 91, ../../_scss/index.scss */
.opening-calendar .month {
  height: 50px;
  font-size: 30px;
  line-height: 50px;
}
/* line 96, ../../_scss/index.scss */
.opening-calendar .year,
.opening-calendar .month {
  overflow: hidden;
  position: relative;
  width: 60px;
  margin: 0 auto;
}
/* line 102, ../../_scss/index.scss */
.opening-calendar .year > span,
.opening-calendar .month > span {
  display: block;
  position: absolute;
  width: 60px;
  -moz-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}
/* line 109, ../../_scss/index.scss */
.opening-calendar .calendar {
  overflow: hidden;
  position: relative;
  height: 263px;
}
/* line 113, ../../_scss/index.scss */
.opening-calendar .calendar .this,
.opening-calendar .calendar .next {
  position: absolute;
  top: 0;
  width: 240px;
  -moz-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}
/* line 119, ../../_scss/index.scss */
.opening-calendar .calendar .this th, .opening-calendar .calendar .this td,
.opening-calendar .calendar .next th,
.opening-calendar .calendar .next td {
  box-sizing: border-box;
  text-align: center;
}
/* line 122, ../../_scss/index.scss */
.opening-calendar .calendar .this th:not(:nth-child(7n)), .opening-calendar .calendar .this td:not(:nth-child(7n)),
.opening-calendar .calendar .next th:not(:nth-child(7n)),
.opening-calendar .calendar .next td:not(:nth-child(7n)) {
  border-right: 1px solid  #111;
}
/* line 126, ../../_scss/index.scss */
.opening-calendar .calendar .this th,
.opening-calendar .calendar .next th {
  height: 25px;
  padding-top: 10px;
  padding-bottom: 8px;
  line-height: 25px;
  font-size: 14px;
}
/* line 133, ../../_scss/index.scss */
.opening-calendar .calendar .this td,
.opening-calendar .calendar .next td {
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  color: #969696;
}
/* line 138, ../../_scss/index.scss */
.opening-calendar .calendar .this td.today, .opening-calendar .calendar .this td.holiday, .opening-calendar .calendar .this td.close,
.opening-calendar .calendar .next td.today,
.opening-calendar .calendar .next td.holiday,
.opening-calendar .calendar .next td.close {
  font-weight: bold;
  color: lightgreen;
}
/* line 144, ../../_scss/index.scss */
.opening-calendar .calendar .this td.today,
.opening-calendar .calendar .next td.today {
  text-decoration: underline;
}
/* line 147, ../../_scss/index.scss */
.opening-calendar .calendar .this td.holiday,
.opening-calendar .calendar .next td.holiday {
  color: #e67928;
}
/* line 151, ../../_scss/index.scss */
.opening-calendar .calendar .this tr:last-child td,
.opening-calendar .calendar .next tr:last-child td {
  padding-bottom: 10px;
}
/* line 156, ../../_scss/index.scss */
.opening-calendar .calendar .undetermined::after {
  content: "更新までしばらくお待ちください";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: 263px;
}
/* line 170, ../../_scss/index.scss */
.opening-calendar.this .this {
  left: 0;
}
/* line 173, ../../_scss/index.scss */
.opening-calendar.this .year > .next,
.opening-calendar.this .month > .next {
  left: 60px;
}
/* line 177, ../../_scss/index.scss */
.opening-calendar.this .calendar > .next {
  left: 240px;
}
/* line 181, ../../_scss/index.scss */
.opening-calendar.this .controller span {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 185, ../../_scss/index.scss */
.opening-calendar.this .controller:hover span {
  left: 10px;
}
/* line 192, ../../_scss/index.scss */
.opening-calendar.next .next {
  left: 0;
}
/* line 195, ../../_scss/index.scss */
.opening-calendar.next .year > .this,
.opening-calendar.next .month > .this {
  left: -60px;
}
/* line 199, ../../_scss/index.scss */
.opening-calendar.next .calendar > .this {
  left: -240px;
}
/* line 203, ../../_scss/index.scss */
.opening-calendar.next .controller span {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 207, ../../_scss/index.scss */
.opening-calendar.next .controller:hover span {
  left: -10px;
}
/* line 213, ../../_scss/index.scss */
.opening-calendar .means {
  margin-top: 15px;
}
/* line 215, ../../_scss/index.scss */
.opening-calendar .means > span {
  font-size: 14px;
}
/* line 218, ../../_scss/index.scss */
.opening-calendar .means .holiday {
  color: #e67928;
}
/* line 221, ../../_scss/index.scss */
.opening-calendar .means .close {
  color: lightgreen;
}
/* line 224, ../../_scss/index.scss */
.opening-calendar .means .details {
  display: block;
  margin-top: 5px;
}
/* line 227, ../../_scss/index.scss */
.opening-calendar .means .details a {
  color: #aaa;
  font-size: 13px;
  text-decoration: none;
}
/* line 231, ../../_scss/index.scss */
.opening-calendar .means .details a:hover {
  color: #fff;
}
