<!DOCTYPE html>
<html lang="ja" ng-app="myapp" ng-controller="appCtrl">
<head>
	<meta charset="UTF-8">
	<title ng-cloak>トップページ - {{pageTitleSub}}</title>
	<link rel="stylesheet" href="/common/css/ionicons.min.css">
	<link rel="stylesheet" href="/common/css/common.css">
	<link rel="stylesheet" href="/common/css/index.css">
</head>
<body>

	<ng-include src="globalNavbar"></ng-include>

	<header class="index-header" ng-controller="indexHeaderCtrl" ng-style="windowHeight">
		<!-- <ul class="bg-slide">
			<li class="slide-item" ng-repeat="img in headerImg" style="background-image: url(/index/header/{{img}})"></li>
		</ul> -->
		<div class="header-nav">
			<ul class="left-nav nav-list">
				<li class="nav-item" ng-repeat="item in leftNav"><a ng-href="{{item.link}}" class="nav-anchor">{{item.name}}</a></li>
			</ul>
			<div class="header-brand">村村村</div>
			<ul class="right-nav nav-list">
				<li class="nav-item" ng-repeat="item in rightNav"><a ng-href="{{item.link}}" class="nav-anchor">{{item.name}}</a></li>
			</ul>
		</div>
	</header>

	<div class="main-area pd-navbar">
		<div class="container">
			<div class="main-content left">
				<h3>今月のおすすめ<span class="en">Monthly Recommend</span></h3>
				<div class="recommend" ng-controller="recommendCtrl">
					<div class="pic">
						<img alt="{{rec.name}}" ng-src="/menu/thumb/{{rec.img}}">
					</div>
					<div class="details">
						<div class="name">{{rec.name}}</div>
						<div class="price">{{rec.price}}円</div>
						<p class="comment" ng-repeat="line in rec.comment">{{line}}</p>
					</div>
				</div>
				<a href="/menu" class="btn ghost">ほかのメニューを見る</a>
			</div>
			<div class="sidebar right">
				<h4>営業日カレンダー</h4>
				<div class="opening-calendar" ng-class="showMonth" ng-controller="calendarCtrl">
					<div class="controller">
						<button class="btn reset" ng-click="toggleMonth()"><span class="ion-ios-arrow-forward"></span></button>
					</div>
					<div class="year">
						<span class="this">{{year}}</span>
						<span class="next">{{nYear}}</span>
					</div>
					<div class="month">
						<span class="this">{{month}}</span>
						<span class="next">{{nMonth}}</span>
					</div>
					<div class="calendar">
						<table class="this" id="oc{{year}}{{month}}">
							<thead>
								<tr>
									<th>S</th>
									<th>M</th>
									<th>T</th>
									<th>W</th>
									<th>T</th>
									<th>F</th>
									<th>S</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="week in monthThis">
									<td ng-repeat="day in week track by $index" id="oc{{year}}{{month}}{{day}}">{{day}}</td>
								</tr>
							</tbody>
						</table>
						<table class="next" id="oc{{nYear}}{{nMonth}}">
							<thead>
								<tr>
									<th>S</th>
									<th>M</th>
									<th>T</th>
									<th>W</th>
									<th>T</th>
									<th>F</th>
									<th>S</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="week in monthNext">
									<td ng-repeat="day in week track by $index">{{day}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="means">
						<span class="holiday">休業日</span>
						<span class="close">営業時間変更</span>
						<span class="details"><a href="/menu">詳しくはこちら</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-include src="globalFooter"></ng-include>

	<script src="/common/js/angular.min.js"></script>
	<script src="/common/js/angular-route.min.js"></script>
	<script src="/common/js/jquery.min.js"></script>
	<script src="/common/js/common.js"></script>
	<script src="/common/js/index.js"></script>

</body>
</html>