@font-face {
	font-family: 'Dejima';
	src: url(/common/fonts/dejima-mincho-f.ttf);
}


@mixin serif {
	font-family: Dejima, "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
}

@mixin sans-serif {
	font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
}