.menu-tree {
	width: 170px;
	margin: 0 35px;
	&.track {
		position: fixed;
		top: 80px;
	}
	.tree-header {
		margin-top: 20px;
		@include serif;
		span {
			display: block;
			width: 35px;
			height: 35px;
			border-radius: 100%;
			background: #fff;
			line-height: 35px;
			font-size: 40px;
			color: #000;
		}
	}
	.tree-list {
		margin-left: 35px;
		.list-item {
			a {
				position: relative;
				display: block;
				height: 25px;
				line-height: 25px;
				text-decoration: none;
				color: #fff;
				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: -10px;
					display: block;
					width: 6px;
					height: 6px;
					margin: -3px;
					border-radius: 100%;
					background: #fff;
				}
				&:hover {
					color: $orange;
					&::before {
						background: $orange;
					}
				}
			}
		}
	}
}