.news-article {
	position: relative;
	margin-top: 50px;
	padding-bottom: 10px;
	&::after {
		content: "";
		position: absolute;
		left: 35px;
		bottom: -1px;
		width: 680px;
		height: 1px;
		@include background-image(linear-gradient(left, #000, #555, #000));
	}
	&:first-child {
		margin-top: 25px;
	}
	.header {
		h3 {
			display: block;
			position: relative;
			width: 100%;
			box-sizing: border-box;
			font-size: 24px;
			line-height: 30;
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				right: 0;
				width: 90%;
				height: 1px;
				@include background-image(linear-gradient(left, #000, #000));
			}
			.date {
				margin: 10px 10px 0 0;
				text-align: right;
				font-size: 12px;
				color: #aaa;
			}
		}
	}
	.body {
		width: 660px;
		margin: 15px auto;
		font-size: 14px;
		line-height: 1.75;
		p {
			margin: 0.5em -0px;
		}
		.h1,
		.h2,
		.h3 {
			@include serif;
		}
		.h1 {
			font-size: 1.8em;
		}
		.h2 {
			font-size: 1.4em;
		}
		.h3	{
			font-size: 1.1em;
		}
		ul {
			li {
				margin: 6px 15px 6px 25px;
				text-indent: -1.2em;
				&::before {
					content: "・";
					margin-right: 0.2em;
				}
			}
		}
		.footer {
			width: 650px;
			margin: 20px auto 0;
			.posted {
				font-size: 12px;
				color: #888;
				.date,
				.time {
					margin: 0 5px;
					font-size: 13px;
					color: #bbb;
				}
			}
			.category {
				font-size: 13px;
				color: #999;
				a {
					padding: 0 5px;
					color: #aaa;
					&:hover {
						text-decoration: none;
						color: $orange;
					}
				}
			}
		}
	}
}